---
- name: Copy keystores to master
  copy:
    src: "{{ item }}"
    dest: /tmp/k8s-local-pv/
    owner: root
    group: root
    mode: 0700
  with_items:
    - searchguard.key
    - logging-es.jks
    - searchguard.truststore
    - system.admin.jks

- name:  Check if searchguard secret already exists
  shell: "{{ kubectl_binary }} get secret searchguard -n {{ namespace }}"
  when:
    - searchguard
  register: get_secret_output
  failed_when: false
  changed_when: false

- name: Fail is something seems wrong
  fail:
    msg : "Ooops someting is wrong with kubectl"
  when: '"not found" not in get_secret_output.stderr and get_secret_output.rc != 0'

- name:  Delete searchguard secret
  shell: "{{ kubectl_binary }} delete secret searchguard -n {{ namespace }}"
  when:
    - searchguard
    - get_secret_output.rc == 0

- name:  Create searchguard secret
  shell: "{{ kubectl_binary }} create secret generic searchguard --from-file=/tmp/k8s-local-pv/system.admin.jks --from-file=/tmp/k8s-local-pv/searchguard.key --from-file=/tmp/k8s-local-pv/logging-es.jks --from-file=/tmp/k8s-local-pv/searchguard.truststore -n {{ namespace }}"
  when:
    - searchguard
